.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgb(0, 0, 0);
  text-align: center;
  width: 320px;
}

.card h1 {
  color: #111827;
  font-weight: 700;
}

.count {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #111827;
}

.card p {
  color: #374151;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1rem;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  transition: all 0.25s ease;
}

button:hover {
  transform: scale(1.04);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.96);
}

.increment-btn {
  background: #22c55e;
}

.increment-btn:hover {
  background: #16a34a;
}

.decrement-btn {
  background: #ef4444;
}

.decrement-btn:hover {
  background: #dc2626;
}

.reset-btn {
  background: #f59e0b;
}

.reset-btn:hover {
  background: #d97706;
}
